@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body{
  background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  z-index: -1;
}
section{
  height: 20%;
}
.container{
  background-color: black;
  height: 100vh;
  z-index: 1;
  opacity: 0.8;
}
.navbar{
  display: flex;
}
.logo{
  position: relative;
  top: 35px;
  left: 35px;
}
.lists{
  flex: 2;
  
}
div ul{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  right: 90px;
}
.list-item{
  list-style: none;
  color: #fdaa10;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  margin: 0px 45px;
}
.button-small{
  position: absolute;
  top: 42px;
  right: 110px;
  padding: 8px 28px;
  background-color: #f34141;
  color: #ffffff;
}

.hero-heading{
  color: #fdaa10;
  text-align: center;
  font-size: 75px;
}
.hero button{
  position: absolute;
  top: 70%;
  left: 42%;
}
.button-large{
  padding: 18px 28px;
  background-color: #f34141;
  color: #ffffff;
  font-size: 25px;
}
.bottom{
  position: absolute;
  top: 74%;
  left: 80%;
}
.bottom img{
  width: 150px;
}